.l-contents {
  border-top: 1px solid #ddd;
  margin-bottom: 150px;
  padding-top: 50px;
  &__inner {
    display: flex;
    width: 100%;
    justify-content: space-around;
  }

  &__left {
    width: 300px;
  }

  &__right {
    width: 100%;
    margin-left: 50px;
  }
}
