@use "../config";
.l-footer-nav {
  background: #ffffff;
  color: #000000;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  .l-footer-nav__item:not(:last-child) {
    border-right: 1px solid #ddd;
  }

  &__inner {
    display: flex;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
  }

  &__item {
    width: 100%;
    line-height: 1.7;
    padding: 50px 2.9661% 42px;
  }

  &__title {
    font-size: 16px;
    line-height: 1;
    margin-bottom: 12px;
    color: config.$primary-color;
    a {
      @extend .l-footer-nav__title;
    }
  }

}

.l-footer-nav-list {
  margin-bottom: 0;

  &__item {
    list-style-type: none;
    font-size: 14px;
    line-height: 2.2;
    margin-bottom: 0;
  }

  &__label {

  }
}
