.l-grid {
  display: flex;
  flex-wrap: wrap;

  &__row {
    width: 100%;
    display: flex;
  }

  &__col {
    width: 100%;
    &--1 {
      width: 8.33%;
    }
    &--2 {
      width: 16.66%;
    }
    &--3 {
      width: 24.999%;
    }
    &--4 {
      width: 33.333%;
    }
    &--5 {
      width: 41.665%;
    }
    &--6 {
      width: 50%;
    }
    &--7 {
      width: 58.331%;
    }
    &--8 {
      width: 66.664%;
    }
    &--9 {
      width: 74.997%;
    }
    &--10 {
      width: 83.33%;
    }
    &--11 {
      width: 91.663%;
    }
    &--12 {
      width: 100%;
    }
  }
}
