@use "../mixin";
.l-header {
  background: #ffffff;
  width: 100%;

  &__inner {
    display: flex;
    align-items: center;
    height: 100px;
    justify-content: space-between;
    @include mixin.mq(md) {
      height: 60px;
    }
  }

  &__logo {
    height: 100%;
    padding: 10px 0;
  }

  &__logo-img {
    height: 100%;
  }

  &__nav {
    height: 60px;
    background: #eeeeee;

    @include mixin.mq(md) {
      display: none;
      position: absolute;
      top: 60px;
      z-index: 99;
      width: 100%;
      height: auto;
    }
  }

  &__nav-close {
    display: none;
    background: transparent;
    border: 0;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0;
    width: 100%;

    &--is-active {
      @extend .l-header__nav-close;
      display: block;
    }
  }

}
