@use "../../config";
@use "../../mixin";
.p-copyright {
  font-size: 12px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  border-bottom: 1px solid #ddd;

  @include mixin.mq() {
    height: 50px;
    line-height: 50px;
  }

}
