@use "../../mixin";

.p-tab {

  &__tabs-wrapper {

  }

  &__tabs {
    background: #fff;
    display: flex;
    margin-left: 1px;
    margin-bottom: 0;
    width: 100%;
    @include mixin.mq(sm) {
      overflow-x: scroll;
    }

  }

  &__tabs-item {
    list-style-type: none;
    font-size: 16px;
    text-align: center;
    width: 100%;

    @include mixin.mq(sm) {
      min-width: 150px;
    }

  }

  &__tabs-label {
    border: 1px solid #ddd;
    display: block;
    margin-left: -1px;
    transition-property: background, border-color, color;
    transition-duration: 0.2s;
    height: 60px;
    line-height: 59px;
    cursor: pointer;

    &--is-active {
      @extend .p-tab__tabs-label;
      background: #000;
      border-color: #000;
      color: #fff;
    }

    &:hover {
      @extend .p-tab__tabs-label;
      background: #000;
      border-color: #000;
      color: #fff;
    }

  }

  &__content {
    width: 100%;
    display: none;
  }
}
